:root{
    --background: hsl(262.83,89.68%,50.59%);
    --backgroundHeader: hsl(261.26,50.6%,50.78%);
    --textLogo: hsl(0,0%,100%)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: var(--background);
    color: var(--textLogo);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
#app{
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.2s opacity;
}

a:hover{
    opacity: 0.8;
    transform: translateY(-2px);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem
}
.icon-bitcoin,
.icon-ethereum,
.icon-dacxi,
.icon-atom,
.icon-logo-luna{
    color: goldenrod;
}